body         { font-family: "メイリオ", Verdana;
               background-image: url('img/back.png');
               color: black;
               margin-left: 1.8em;
               line-height: 120%;
               font-size: 80%; }
a:link       { color: #0000CC;
               text-decoration:underline; }
a:visited    { color: #0000CC;
               text-decoration:underline; }
a:active     { color: #FF0000;
               text-decoration:underline; }
a:hover      { color: #FF0000;
               text-decoration:underline; }
br           { clear: both; }
h1           { font-family: "メイリオ", Times New Roman;
               font-size: 200%;
               line-height: 120%;
               margin-bottom: 1.0em;
               margin-left: -0.6em;
               padding-left: 0.1em;
               border-bottom: 0.1em solid;
               border-color: #E04000;
               clear: both; }
h2           { font-family: "メイリオ", Verdana;
               font-size: 180%;
               line-height: 110%;
               margin-top: 1.0em;
               margin-bottom: 0.8em;
               padding: 0.2em;
               padding-top: 0.3em;
               padding-bottom: 0.0em;
               color: #000000;
               background-color : #E0C060;
               border: 0.1em dashed;
               border-color: #E04000;
               clear: both; }
h3           { font-family: "メイリオ", Times New Roman;
               font-size: 160%;
               line-height: 150%;
               margin-bottom: 0.5em; }
h5           { margin-top: 0;
               border: 0.1em inset;
               clear: both; }
h6           { font-size: 150%;
               margin-top: 1.2em;
               border-bottom: 0.1em solid;
               border-color: #E04000;
               clear: both; }
hr           { color: #E04000;
               clear: both; }
dt           { font-weight: bold;
               margin-top: 1.0em;
               margin-left: 0.5em; }
dd           { margin-bottom: 0.2em;
               margin-left: 1.5em; }
pre          { margin-top: 0.8em;
               margin-bottom: 1.0em;
               line-height: 100%;
               padding: 0.5em;
               border: 0.1em solid;
               border-color: #808080;
               background-color: #FFFFFF; }
table        { font-size: 100%;
               line-height: 120%; }
p            { margin-top: 0.6em;
               margin-bottom: 0.6em; }
ol           { margin-top: 0.2em;
               margin-left: 2.1em;
               padding-left: 0em;
               margin-right:2.1em }
ul           { margin-top: 0.2em;
               margin-left: 2.0em;
               margin-right: 1.5em;
               list-style-type: disc; }
li           { margin-bottom: 0.2em; }
em           { font-style: normal;
               font-weight: bold; }
table,td,th  { border-style: solid;
               border-color: #4488CC;
               border-collapse: separate; }
table.sys    { margin-left: 1.0em;
               margin-top: 1.0em;
               margin-bottom: 1.0em; }
table.nb,td.nb,th.nb { border-style: none; border-collapse: collapse; }
caption.nb   { font-weight: bold;
               text-align: left; }
ul.square    { margin-left: 1.4em;
               list-style-type: square; }
ul.circle    { margin-left: 1.4em;
               list-style-type: circle; }
ul.decimal   { margin-left: 1.4em;
               list-style-type: decimal; }
.note        { margin-left: 1.0em;
               font-size: 90%; }
.rgss3       { font-family: Times New Roman;
               font-weight: bold;
               color: #CC4400;
               font-size: 80%; }
.red         { color: #FF0000; }
.western     { font-family: Verdana; }
.trans       { border-width: 0; }
img.float_r  { float: right;
               margin-left: 1.5em;
               margin-bottom: 1.0em }
.clear_both  { margin: 0;
               font-size: 0%;
               height: 0%;
               line-height: 0%;
               clear: both; }
